<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
     http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
">

    <!--导入hibernate相关配置-->
    <import resource="hibernateApplication.xml"/>

    <bean name="loginAction" class="com.itlike.web.web.LoginAction" scope="prototype">
        <property name="loginService" ref="loginService"></property>
    </bean>

    <bean id="loginService" class="com.itlike.web.service.impl.LoginServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>
     <bean id="userDao" class="com.itlike.web.dao.impl.UserDaoimpl">
         <property name="sessionFactory" ref="sessionFactory"></property>
     </bean>
    <bean id="categoryAction" class="com.itlike.web.web.CategoryAction" scope="prototype">
        <property name="categoryService" ref="categoryService"></property>
    </bean>
    <bean id="categoryService" class="com.itlike.web.service.impl.CategoryServiceImpl">
        <property name="categoryDao" ref="categoryDao"></property>
    </bean>
    <bean id="categoryDao" class="com.itlike.web.dao.impl.CategoryDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
     </bean>
    <!--文章-->
    <bean id="articleAction" class="com.itlike.web.web.ArticleAction" scope="prototype">
        <property name="articleService" ref="articleService"></property>
    </bean>
    <bean id="articleService" class="com.itlike.web.service.impl.ArticleServiceImpl">
        <property name="articleDao" ref="articleDao"></property>
    </bean>
    <bean id="articleDao" class="com.itlike.web.dao.impl.ArticleDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="locationAction" class="com.itlike.web.locationAction" scope="prototype">

    </bean>
    <bean id="webAction" class="com.itlike.web.web.WebAction" scope="prototype">
        <property name="articleService" ref="articleService"></property>
    </bean>


</beans>